<h2>Checkins</h2>

<table class="table">
  <thead>
    <tr>
      <th>Story</th>
      <th>User</th>
      <th>Cab</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @check_ins %>
  </tbody>
</table>

<br />

<%= link_to 'New Check in', new_check_in_path %>
